@{
    ViewBag.Title = "About";
}
<style>
    a:hover {
        text-decoration:none;
    }
</style>
<link href="~/Content/bootstrap.theme.min.css" rel="stylesheet" />
<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
<div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
    <div class="row">
        <div id="content-map" class="col s12 m12 l12">
            <div class="">
                <img class="img-responsive img-thumbnail" src="~/images/11336851_921501824537688_7213660141229888632_o.jpg" />
            </div>
            
            <h1>Sobre mi</h1>
            <p>Soy un tipo tranquilo que no se mete con nadie y que le encanta la tecnologia, soy estudiante de ingenieria en sistemas y me dedico a el desarrollo de software.</p>
            <p>Actualmente trabajo en Mayabits (se podria decir que es el mejor lugar para trabajar) en diversos proyectos pero en mis ratos libres me gusta crear software que ayude a la sociedad en donde nacio esta aplicación que espero este lista dentro de poco</p>
        </div>
    </div>
</div>